<div id="users_list">
  <!-- users filter -->
  <app-drop-down-menu
    [title]="'Filter'"
    [iconPath]="'assets/images/common/filter.svg'"
  >
    <app-users-filter></app-users-filter>
  </app-drop-down-menu>

  <!-- users list -->
  <div
    class="users-cont"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [fromRoot]="true"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()"
    cdkDropList
    (cdkDropListDropped)="drop($event)"
  >
    <div class="users-cont--card" *ngFor="let user of users" cdkDrag>
      <app-user-card [user]="user"></app-user-card>
    </div>
  </div>
</div>
